@media screen and (max-width: 767px){

    #container-apresentacao {
            width: 100%;
            height: 600px;
            background-image: url(/src/img/bg-foto-mobile.png);
            background-size: cover;       
                
        }
      .swiper{
          width: 300px;
          height: 300px;          
      }

    .container-sobre {
            width: 100%;
            height: 535px;                
                
    } 
    
    #foto2 { 
    
        background-image: url(/src/img/foto-sobre.png);
        background-size: cover;
        height: 250px;
        width: 200px;
        border-radius: 10px;
    
    }     
       
    #scrollToTopBtn {
        position: fixed;
        width: 40px;
        bottom: 20px;
        right: 10px;    
        cursor: pointer;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
      
      #scrollToTopBtn.visible {
        opacity: 1;
      }
    
      .mobile-menu-icon{
        display: block;
      }
    
      .mobile-menu {
        display: none;
      }
    
      .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: start;
        padding-left: 10px;
        color: white;
        font-weight: 600;
      }
    
      .open{
        display: block;
      }
    
    }
    